<div class="large-12 columns">
	<h2>Sales total for <span id="day"></span></h2>
	<div id="form">
		<p class="lead">How much do you take?</p>
		<input type="number" name="total" id="total" placeholder="1000000"><a href="#" class="button save">Go get it</a>
	</div>
</div>
<a class="close-reveal-modal">&#215;</a>
